/* General Styles and declaring variables */
:root {
    --border-color: rgb(228, 191, 29);
    --header-font: 'Luckiest Guy', cursive;
    --body-font: 'Ubuntu', sans-serif;
    --math-symbol-font: 'Nunito', sans-serif;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
}

body {
    font-family: var(--body-font);
    font-weight: 600;
}

/* Header styling */
header {
    display: flex;
    justify-content: start;
    margin: 0 0 30px;
    border-bottom: solid var(--border-color);
}

header img {
    max-width: 10%;
}

header h1 {
    align-self: center;
    font-size: 275%;
    margin: 0 0 0 -45px;
    text-align: center;
    flex: 1 1;
}

/*  banner image styling */
.home section {
    display: flex;
    flex-direction: column;
}

.banner-img img {
    max-width: 70%;
}

.banner-img {
    text-align: center;
}

/* mission statement styling */
.mission-statement {
    margin-left: 5px;
}

.mission-statement p {
    margin: 10px 20vw 10px 20vw;
}

/* Problem Selecting styling */
.select-practice {
    display: flex;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    flex-wrap: wrap;
}

.display-practice {
    text-align: center;
    margin: 10px 20vw 10px 20vw;
}

.display-practice div h1 {
    margin: 0px;
}

.select-practice div {
    border: solid var(--border-color);
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgb(101, 101, 101);
    width: 18vw;
    height: 18vw;
    margin: 10px;
    padding: 0 0 5px;
    font-family: var(--math-symbol-font);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.card-symbol {
    font-size: 15vw;
    grid-column: 2/3;
    grid-row: 2/3;
}

/* Difficulty Options */
.practice-options {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 12vw;
    border-radius: 25px;
    border: solid var(--border-color);
    box-shadow: 0px 20px 100px rgb(101, 101, 101);
}

/* Footer styling */
footer {
    border-top: solid var(--border-color);
}

footer p {
    margin: 15px 0 10px 5px;
    vertical-align: bottom;
}


